body {
    font-family: "Avenir Next";
}

header{
    background-color:darkslategrey;
    height: 70px;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}

.header-logo{
    font-size:30px;
    float:left;
    color: seashell;
    padding-top: 13px;
    padding-left: 30px;
    padding-right:150px;
}

.form{
    padding-top: 80px;
    padding-left: 50px;
    font-size: 20px;
}

#name{
    width: 150px;
    font-size:100%;
}